<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Weather App</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Dope Weather App</p>
        <form action="">
            <input type="text" placeholder="Enter address">
            <button>Search</button>
        </form>

        <p id="msg-one"></p>
        <p id="msg-two"></p>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>